[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BiasCorrector"]
	path = BiasCorrector
	url = https://github.com/kapsner/biascorrector
[submodule "autonewsmd"]
	path = autonewsmd
	url = https://github.com/kapsner/autonewsmd
[submodule "kdry"]
	path = kdry
	url = https://github.com/kapsner/kdry
[submodule "mlexperiments"]
	path = mlexperiments
	url = https://github.com/kapsner/mlexperiments
[submodule "mllrnrs"]
	path = mllrnrs
	url = https://github.com/kapsner/mllrnrs
[submodule "rBiasCorrection"]
	path = rBiasCorrection
	url = https://github.com/kapsner/rbiascorrection
[submodule "sjtable2df"]
	path = sjtable2df
	url = https://github.com/kapsner/sjtable2df
